@import "../../styles/variables";

.tdd-event-summary {
  padding: 2.4rem;
  background-color: $shade;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 2px 0 rgba($color-primary, 0.3);
  margin-bottom: 2.4rem;
}

.tdd-event-summary__rounds-wrapper {
  display: flex;
  margin-bottom: 2rem;
  margin-top: -1rem;
}

.tdd-event-summary__round-details {
  padding-right: 4rem;
  font-size: 1.5rem;
  flex: 1;
}

.tdd-event-summary__round-details--finished {
  font-weight: 700;
}

.tdd-event-summary__round-details-title {
  display: flex;
  align-items: center;
  height: 3rem;

  .icon {
    display: inline-block;
    margin-left: 2rem;
    border: 1px solid #212121;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    text-align: center;
  }
}

.tdd-event-summary__current-status {
  padding-top: 2rem;
  font-size: 1.2rem;
}
