$background-primary: #282c34;
$background-secondary: #e1e2e1;

$primary: #01579b;
$primary-accent: #0288d1;

$secondary: #9e9e9e;
$secondary-accent: #eeeeee;

$shade: #fafafa;

$color-primary: #212121;
