@import "../../styles/variables";

$height: 3rem;

.bar-with-time-periods__wrapper {
  height: $height;
  border-radius: 0.3rem;
  background-image: linear-gradient(to bottom, $secondary, $secondary-accent);
  position: relative;
  overflow: hidden;
  box-shadow: 1px 1px 2px 0 rgba($color-primary, 0.3);
}

.bar-with-time-periods__period-bar,
.bar-with-time-periods__time-till-end-bar {
  position: absolute;
  height: $height;
}

.bar-with-time-periods__period-bar {
  background-image: linear-gradient(to top, $primary, $primary-accent);
}

.bar-with-time-periods__time-till-end-bar {
  background: repeating-linear-gradient(
    -45deg,
    rgba($shade, 0.4),
    rgba($shade, 0.4) 1rem,
    rgba($shade, 0.5) 1rem,
    rgba($shade, 0.5) 2rem
  );
  outline: 1px solid $color-primary;
  transition: left 300ms, width 300ms;
}
